/* styles.css */

* {
  text-align: center;
  font-family: Signika, Verdana, Tahoma, sans-serif;
  background-color:antiquewhite;
}

.heading {
  font-size: 72px;
  font-weight: bold;
  color: #2E7116;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  white-space: normal;
  text-align: center; align-items: center; align-content: center;
  border: 20px;
  border-style: groove;
  border-radius: 10%;
  border-color: rgb(13, 1, 24);
  margin: 20px 10px 40px 10px;
  padding: 40px 10px 40px 10px;
   }

.h2 {
  font-size: 32px;
  color: black;
  display: block;
  margin: 20px;
  padding: 20px;
  }

ul {
  list-style: none;
  font-size: 24px;
  font-weight: bold;
  color: #2E7116;
  margin: 10px;
  padding: 10px;
  }

a:link {
  color: #2E7116;
  background-color: transparent;
  text-decoration: underline;
  }
    
a:visited {
  color: #2E7116;
  background-color: transparent;
  text-decoration: underline;
  }
    
a:hover {
  color: rgb(13, 1, 24);
  background-color: transparent;
  text-decoration: underline;
  }
    
a:active {
  color: #2E7116;
  background-color: transparent;
   }

